@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}
header {
    height: 120px;
    
    width: 1440px;
    margin: 0 auto;
    line-height: 120px;
}

header nav {
    height: 120px;
    display: flex;
    justify-content: space-between;
    
}


header nav a img {
    width: 65px;
    height: 57px;
    margin-top: 32px;
}

header nav ul {
    height: 100%;
}
header nav ul li {
    display: inline;
    font-size: 20px;
}

header nav .menu {
    height: 100%;
}

header nav .user {
    height: 100%;
}
header nav .menu ul li {
    padding: 0 20px;
}
header nav .user ul li {
    font-size: 16px;
    padding-left: 32px; 
}